/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-image: url("../imagenes/loginVendedor.jpg");
    background-size: cover;
}

/* Estilos para el encabezado */
header {
    background-color: #ed1c23;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 100%;
    background-color: yellow;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

h1 {
    color: yellow;
    font-size: 250%;
}

nav.navbar {
    background-color: #a70207;
    height: 60px;
    padding-top: 10px;
    border-style: double;
    border-color: whitesmoke;
    border-top: none;
    border-left: none;
    border-right: none;
}

a.CatalogoTodo,
a.Pintura,
a.Electricas,
a.Herramientas_Manuales,
a.Accesorios {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: solid yellow;
}

a:hover {
    color: yellow;
}

div.lista {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 20px;
}

.encabezado {
    background-color: yellow;
}

button.btn-login {
    background-color: whitesmoke;
    padding: 7px;
    border-radius: 50px;
    border-style: none;
}

a.btn-login:hover {
    color: red;
}

a.btn-login {
    color: black;
    font-size: 20px;
    font-style: none;
    text-decoration: none;
}

button.btn-login:hover {
    background-color: yellow;
}

/* Estilos para el formulario */
form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 30, 0.5);
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 15%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 150, 0.3);
    }

h2 {
    margin-bottom: 20px;
    color: #fff;
}

.contenedor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
label i{
    color:whitesmoke;
    padding-right: 10px;
    padding-bottom: 7px;
}

input[type="email"],
input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
    border-style: none;
    border-bottom: solid rgba(65, 65, 209,0.5);
    background-color: transparent;
    outline: none;/*esta linea quita el borde cuando lo selecciono*/
    color: #fff;
    font-size: small;
    width: 200px;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #fff;
}

a.olvidaste {
    text-decoration: none;
    color: whitesmoke;
}
a.olvidaste:hover{
    color:rgba(255, 255, 0, 0.8);
}

.btn-ingresar {
    color: #fff;
    padding: 7px;
    background-color:rgb(65, 65, 209);
    border-radius: 50px;
    border-style: none;
    cursor:pointer;
}
.btn-ingresar:hover{
    background-color: rgba(65, 65, 209,0.8);
}
/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 160px;
    margin-top: 20px;
}
h4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size:small;
}
.enlaces ul {
    list-style: none;
    display: flex;
}

.enlaces ul li {
    margin-right: 10px;
    padding-left: 20px;
}

.enlaces ul li a {
    color: #fff;
    text-decoration: none;
}

.enlaces ul li a:hover{
    color: yellow;
}
.sociales{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sociales-link a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding-left: 20px;
}

.sociales-link a:hover {
    color:yellow;
}
